@import '../../scss/variables.scss';

header {
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dancing Script';
  background-color: $primary;

  h2 {
    margin: 0;
    padding: 0;
  }

 button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.back {
      left: 20px;
    }

    &.user {
      right: 20px;
    }
  }
}