// Importing Font-Awesome
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import './scss/variables';

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "achievement": $achievement,
  "success": $success,
  "warning": $warning,
  "error": $error,
);

@import 'bootstrap/scss/bootstrap';

//Global styling
*, body {
  color: white;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $secondary;
}

p {
  margin: 0;
}