// Importing Font-Awesome
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import './scss/variables';

//Importing Bootstrap and changing theme colors
$primary: #735630;
$secondary: #6E7953;
$danger: #dc3545;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
);

@import 'bootstrap/scss/bootstrap';

//Global styling
*, body {
  color: white;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $secondary;
}

p {
  margin: 0;
}