<main>
  <!-- <ng-container *ngIf="pets.length < 1">
    <div class="no-pet">
      <h1 class="no-pet-text">Let's add a new pajtás</h1>
    </div>
  </ng-container> -->
  <ng-container *ngFor="let pet of pets">
    <app-pet-card #petView *ngIf="view === 'pet' && pet && pet.total > 0" [pet]="pet" (stateChange)="changeToBreedView($event)"></app-pet-card>
  </ng-container>
  <ng-container *ngFor="let breed of selectedPet?.ownedBreeds">
    <app-pet-card #breedView *ngIf="view === 'breed' && breed && breed.counter" [breed]="breed" data-bs-target="#timelineModal" (stateChange)="openBreedRecords($event)"></app-pet-card>
  </ng-container>
  <button type="button" 
    class="btn btn-primary add-pet"
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasBottom" 
    aria-controls="offcanvasBottom"
  >
    <i class="fa-solid fa-plus"></i>
  </button>
</main>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-bottom bg-primary" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <input #searchInput type="text" class="form-control" placeholder="I would like to pet home a..." (input)="searchBreed($event)">
    <ng-container class="btn-group dropup">
      <a class="searchbar-icon" (click)="isSearching ? clearSearch() : showPetsDropdown()">
        <i [class]="isSearching ? 'text-error fa-solid fa-xmark' : 'text-primary fa-solid fa-' + selectedPetBadge.icon"></i>
      </a>
      <ul #petsDropup class="pets-dropup" [style.display]="'none'">
        <li *ngFor="let pet of pets; let i = index"
          class="pets-dropup-item"
          [style.animation-delay]="60*(pets.length - i) + 'ms'" 
          (click)="changePets(pet.id)"
        >
          {{ pet.name }}
          <i [class]="'fa-solid fa-' + (pet.icon ?? 'paw')"></i>
        </li>
      </ul>
    </ng-container>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <div class="breed-card-row">
      <ng-container *ngIf="filteredBreeds.length">
        <div 
          *ngFor="let breed of filteredBreeds"
          class="card text-center text-white" 
          [ngClass]="{'card-selected': newRecord.breeds[breed.id] > 0}" 
        >
          <div (click)="addBreedToRecord(breed)">
            <img [src]="breed.img" class="card-img-top rounded-circle">
            <div class="card-body">
              <h5 class="card-title">{{ breed.name }}</h5>
            </div>
          </div>
          <span *ngIf="newRecord.breeds[breed.id]" [ngClass]="newRecord.breeds[breed.id] > 9 ? 'rounded-pill' : 'rounded-circle'" class="position-absolute translate-middle badge badge-counter bg-secondary">
            {{ newRecord.breeds[breed.id] }}
          </span>
          <span 
            *ngIf="newRecord.breeds[breed.id]" 
            class="position-absolute top-0 start-100 translate-middle badge badge-delete rounded-circle bg-error" 
            (click)="removeBreedFromRecord(breed)"
          >
            <i class="fa-solid fa-close"></i>
          </span>
        </div>
      </ng-container>
      <ng-container *ngIf="!filteredBreeds.length">
        <div style="height: 210px;" class="w-100 d-flex justify-content-center align-items-center text-white">No result found</div>
      </ng-container>
    </div>
    <button class="btn btn-secondary flex-grow-1 mb-3" data-bs-dismiss="offcanvas" [disabled]="newRecordBreedsLength < 1" (click)="addRecord()">Add</button>
  </div>
</div>

<!-- Timeline Modal -->
<div #timelineModal class="modal fade" id="timelineModal" tabindex="-1" aria-labelledby="timelineModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="timelineModalLabel">{{ selectedBreed?.name }}</h5>
      </div>
      <div class="modal-body timeline">
        <div *ngFor="let record of selectedBreedRecords; let i = index" class="timeline-record">
          <div class="timeline-record-marker">
            <div class="timeline-record-marker-circle"></div>
            <div *ngIf="selectedBreedRecords!.length > (i + 1)" class="timeline-record-marker-connector"></div>
          </div>
          <div>
            <div class="paw-holder">
              <ng-container *ngIf="(record.breeds[selectedBreed?.id ?? 0] | numberToArray).length < 6">
                <i *ngFor="let paw of record.breeds[selectedBreed?.id ?? 0] | numberToArray" class="fa-solid fa-paw"></i>
              </ng-container>
              <ng-container *ngIf="(record.breeds[selectedBreed?.id ?? 0] | numberToArray).length > 5">
                <i class="fa-solid fa-paw"></i> x {{ record.breeds[selectedBreed?.id ?? 0] }}
              </ng-container>
            </div>
            <p>{{ record.date }}</p>
            <p>{{ record.time }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>