@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

main {
  display: flex;
  flex-wrap: wrap;
  gap: 0;

  .no-pet {
    position: absolute;
    left: 50%;
    bottom: 50%;
  }
  
  > app-pet-card {
    margin: 0;
    padding: 2.5px;
    flex-basis: 50%;

    &:nth-child(odd):nth-last-child(2) {
      flex-basis: 100%;
    }
  }

  button.add-pet {
    padding: 0.9rem;
    position: fixed;
    bottom: 10%;
    right: 10%;
    font-size: 2rem;
    line-height: 1;
    border-radius: 50%;
    border: 3px solid white;
  }
}

.offcanvas {
  height: 50vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  .offcanvas-header {
    padding-bottom: 0;

    .searchbar-icon {
      position: absolute;
      right: 1.5rem;
    }

    .pets-dropup {
      // display: none;
      list-style: none;
      position: absolute;
      right: 1.5rem;
      top: 0;
      max-height: 9rem;
      transform: translateY(-100%);
      text-align: right;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &-item {
        opacity: 0;
        padding-bottom: 0.5rem;
        animation: scaleZ 300ms ease-in-out forwards;
        transform-origin: top center;
      }

      @keyframes scaleZ {
        0% {
          opacity: 0;
          transform: scale(0);
        }
        
        80% {
          transform: scale(1.07);
        }
      
        100% {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }

  .offcanvas-body {
    padding: 0 1rem;

    .breed-card-row {
      margin: 1rem 0;
      padding: 1.25rem 1.25rem 0 0;
      display: flex;
      gap: 1.5rem;
      border-top: 2px solid rgba(255,255,255,0.2);
      overflow-y: hidden;
    
      .card {
        max-width: 8rem;
        min-width: 120px;
        height: 210px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 2.5px solid white;
        cursor: pointer;

        span.badge {
          &.badge-counter {
            left: 30px;
            top: 92px;
            font-size: 1rem;
          }
          
          &.badge-delete {
            i {
              font-size: 1.5rem;
            }
          }
        }
    
        &-img-top {
          width: 100px;
          height: 100px;
          padding: 0.25rem;
          margin: auto;
          margin-top: 10px;
          object-fit: cover;
        }

        &-title {
          word-wrap: normal;
          overflow: hidden;
          text-overflow: ellipsis;
        }
  
        &-selected {
          background-color: white;
  
          .card-title {
            color: $primary;
          }
        }
      }
    }

    button {
      font-size: 1.25rem;
    }
  }
}

.modal {
  &-content {
    margin: auto;
    width: auto;
    max-width: 100%;
    background-color: $secondary;
    
    .divider {
      width: 60%;
      height: 2px;
      background-color: white;
      border-radius: 10px;
    }
  }
  
  &-header {
    border: none;
  }

  &-body {
    &.counter {
      @include flex-container-centered;
      gap: 2rem;
      
      span, i {
        font-size: 2rem;
      }
    }
  }
}

.timeline {
  height: 20rem;
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;

  &-record {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    height: 6rem;
  
    &-marker {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
  
      &-circle {
        @include flex-container-centered;
        height: 1rem;
        width: 1rem;
        border: 2px solid white;
        border-radius: 50%;
        background-color: $primary;
      }
  
      &-connector {
        flex-grow: 1;
        background-color: white;
        width: 2px;
      }
    }

    .paw-holder {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
