<header>
  <button *ngIf="petService.viewState === 'breed'" class="back" (click)="changeToPetView()"><i class="fa-solid fa-arrow-left"></i></button>
  <h2>Lets Pet You Home</h2>
</header>
<main>
  <!-- <ng-container *ngIf="pets.length < 1">
    <div class="no-pet">
      <h1 class="no-pet-text">Let's add a new pajtás</h1>
    </div>
  </ng-container> -->
  <ng-container *ngFor="let pet of pets">
    <app-pet-card #petView *ngIf="petService.viewState === 'pet' && pet && pet.total > 0" [pet]="pet" (stateChange)="changeToBreedView($event)"></app-pet-card>
  </ng-container>
  <ng-container *ngFor="let breed of selectedPet?.breeds">
    <app-pet-card #breedView *ngIf="petService.viewState === 'breed' && breed && breed.counter > 0" [breed]="breed" (stateChange)="changeToBreedView($event)"></app-pet-card>
  </ng-container>
  <button type="button" 
    class="btn btn-primary add-pet"
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasBottom" 
    aria-controls="offcanvasBottom"
  >
    <i class="fa-solid fa-paw"></i>
  </button>
</main>

<!-- Offcanvas -->
<div class="offcanvas offcanvas-bottom bg-primary" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <div class="badge-list">
      <ng-container *ngFor="let pet of pets">
        <span  
          *ngIf="pet.breeds && pet.breeds.length > 0"
          [ngClass]="{'badge-selected': selectedPet.id === pet.id, 'bg-secondary': selectedPet.id !== pet.id}" 
          class="badge rounded-pill"
          (click)="changePets(pet.id)">
          <i [class]="'fa-solid fa-' + (pet.icon ?? 'paw')"></i>
          {{ pet.name }}
        </span>
      </ng-container>
    </div>
  </div>
  <div class="offcanvas-body">
    <div class="breed-card-row">
      <div 
        *ngFor="let breed of selectedPet?.breeds"
        class="card text-center text-white" 
        [ngClass]="{'card-selected': breed.addCounter! > 0}" 
      >
        <div
          data-bs-toggle="modal" 
          data-bs-target="#counterModal"
          (click)="selectBreed(breed)"
        >
          <img [src]="breed.img" class="card-img-top rounded-circle">
          <div class="card-body">
            <h5 class="card-title">{{ breed.name }}</h5>
          </div>
        </div>
        <span *ngIf="breed.addCounter" [ngClass]="breed.addCounter > 9 ? 'rounded-pill' : 'rounded-circle'" class="position-absolute translate-middle badge badge-counter bg-secondary">
          {{ breed.addCounter }}
        </span>
        <span 
          *ngIf="breed.addCounter" 
          class="
            position-absolute 
            top-0 
            start-100 
            translate-middle 
            badge badge-delete 
            rounded-circle 
            bg-danger
          " 
          (click)="removeBreedFromSelectedBreeds(breed)"
        >
          <i class="fa-solid fa-close"></i>
        </span>
      </div>
    </div>
    <div class="d-grid">
      <button class="btn btn-secondary" data-bs-dismiss="offcanvas" [disabled]="selectedBreeds.length < 1" (click)="addBreed()">Add</button>
    </div>
  </div>
</div>

<!-- Modal -->
<div #counterModal class="modal fade" id="counterModal" tabindex="-1" aria-labelledby="counterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="counterModalLabel">{{ selectedBreed?.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-primary" (click)="decreaseAddCounter()"><i class="fa-solid fa-minus"></i></button>
        <span>{{ selectedBreed?.addCounter }}</span>
        <button class="btn btn-primary" (click)="increaseAddCounter()"><i class="fa-solid fa-plus"></i></button>
      </div>
    </div>
  </div>
</div>